@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
.avatar{
    border: 2px solid #190dfc;
}
.img-block{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-right: 6px solid #A60DBF;
    border-top: 1px solid #A60DBF;
    border-bottom: 2px solid #A60DBF;
    margin-top: 48px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.img-block img{

    padding: 4px;
    border-radius: 50%;
    max-width: 250px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.name-title{
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 8px;
}
.services-title{
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 2rem;
}
.feedback-title{
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 2rem;
    display: flex;
    align-items: center;

}
.feedback_add-btn{
    margin-left: 8px;
    border: black !important;
    background-color: #A60DBF !important;
    border: none !important;
}

.services-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.service-button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #A60DBF !important;
    color: white !important;
}
.card{
width:300px ;
border-radius: 25px;
overflow: hidden;
box-shadow: 0px 0px 8px rgb(226, 226, 226);
display: grid;
grid-template-rows: 45% 45%;
row-gap: 10%;
}
.card-text{
    overflow-y: auto;
    height: 80px;
    max-height: 80px;
}
.card-img{
    object-fit: cover;
    height: 200px;
}
.card-price{
    float: right;
    font-size: 14px;
    font-weight:bold ;
}
.ant-card-body{
}
.group-card{
    
}
.card-timeline{
    margin-top: 20px;
    font-weight: bold;
    float: right;
    float: bottom;
    font-size: 14px;
    float: inline-end;
}
.feedback-list{
    width: 92%;
    height:355px;
    overflow-y: auto;
    margin-bottom: 48px !important;
}
.comment-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ant-comment-nested{
    @media(max-width: 630px){
        width: fit-content;
        max-width: 100px;
        margin-left: 20px;
    }
}
.ant-comment{

    @media(max-width: 630px){
        display: grid;
        grid-template-columns: 75% 25%;
    }
}
.ant-rate-star:not(:last-child) {

    @media(max-width: 630px){
        margin-right: 4px;
    }
}
.comment-grade-div{
    flex-wrap: nowrap;
    white-space: nowrap;
}
.grade{
    @media(max-width: 630px){
        font-size: x-small;
    }
}
.form-input{
    margin-bottom: 8px !important;
}
.form-switch{
    margin-right: 8px !important;
}
.service-form{
    display: flex;
    flex-direction: column;
}
.form-buttons{
    margin-left: auto;
    margin-top: 8px;
}
.submit-button{
    margin-right: 8px;
}
.email-select{
    color: #000000 !important;
    height: 32px !important;
    padding-left: 6px !important;
}

option[value=""][disabled] {
    display: none;
    /*color: #bfbfbf !important;*/
}
option[value=""][disabled] {
    display: none;
    /*color: #bfbfbf !important;*/
}

option{
    color:black !important;
}
.pre-selected{
    display: none;
}
.feedback-rating{
    margin: 0 auto !important;
    margin-bottom:8px !important;
}

.time-block{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 4px;
    margin-bottom: 8px;

}
.time-item{
    padding:4px 9px 4px 9px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
}
.time-item__selected{
    border: 1px solid #46b6fc !important;
    color: #46b6fc;
}
.dates-block{
    display: flex;
    justify-content: space-around;

}
.dates-item{
    width: 30%;
    height: 32px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: white !important;
}

select:required:invalid {
    color: #bfbfbf !important;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: black !important;
}
.loading{
   visibility: hidden;
}
@media screen and (max-width: 650px) {
    .form-input{
        height:40px !important;
    }
    #phone-input{
        height: 40px !important;
    }
    .form-button{
        height: 40px !important;
    }
    .form-buttons button{
        height: 40px !important;
        width: 120px !important;
    }
    .form-buttons{
        margin-top: 16px !important;
    }
    .ant-card-meta-title{
        font-size: 1.2rem !important;
    }
    .ant-card-meta-description{
        font-size: 1rem !important;
    }
}
.card-text{
    height: fit-content !important;
    max-height: 200px !important;
}
.ant-modal-content{
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}
.ant-modal-header{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.ant-card-body{
    padding: 20px;
    padding-bottom: 10px;
}
.option_disabled{
    color: rgb(143, 143, 143) !important;
}
.option_active{
    cursor: pointer !important;
    &:hover{
        cursor: pointer !important;
    }
}
.option_day_disabled{
    color: red !important;
}
.spinner_loading{
    z-index: 9999 !important;
}
.date_picker{
    width: 100%;
    margin-bottom: 10px;
}

// datepicker
.ant-picker-date-panel .ant-picker-content{
    width: 100%;
}
.ant-picker-date-panel{
    @media(min-width: 550px){
        width: 475px;
    }
    width: 310px;
}
#el{
    width: 100px;
    height: 50px;
}
.dates-block{
    width: 100%;
    margin-bottom: 10px;
}
.MuiFormLabel-root.Mui-error{
    color: black !important;
}.MuiFormHelperText-root.Mui-error{
    color: black !important;
}
.MuiInput-underline.Mui-error:after{
    border-bottom-color: black !important;
}
.ant-card-cover{
    height: 100%;
    min-height: 240px;
}

// new code
// new code
// new code
.App{
    width: 100%;
    max-width: 100%;
    min-width: 250px;
}
.landing{
    width: 100%;
    min-height: 100vh;
    background: rgba($color: #6F73D4, $alpha: 1);
    background-image: url('../media/Group\ 22.svg');
    background-size: 330px;
    background-position: center;
}
.header{
    width: 100%;
    height: 100px;
    background: #3A3EA3;
}
.section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.section_main_desktop{
    width: 80%;
    height: 100%;
    min-height: 100vh;
    min-width: 650px;
    margin-top: -30px;
    margin-bottom: 50px;
    background: white;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    @media(max-width: 730px){
        width: 96%;
        min-width: auto;
    }
    @media(max-width: 631px){
        display: none;
    }
}
.section_user{
    height: 280px;
    width: 100%;
    position: relative;
}
.user_img{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -20%);
        -ms-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
    height: 104px;
    width: 104px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50% !important;
    border: 4px white solid;
}
.user_name{
    position: absolute;
    top: 106px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: xx-large;

    @media(max-width: 630px){
        font-size: large;
        width: 100%;
        text-align: center;
    }
}
.user_raiting{
    position: absolute;
    top: 117px;
    left: 50%;
    transform: translate(-50%, 0);
}
.ant-rate-star:not(:last-child){
    margin-right: 0px;
}
.anticon svg {
    display: inline-block;
    height: 17px;
}
.user_raiting_number{
    margin: 4px;
    margin-top: 6px;
    margin-left: 10px;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
}
.btn_create_order{
    position: absolute;
    top: 205px;
    left: 50%;
    width: 237px;
    transform: translate(-50%, -50%);
    height: 46px;
    background: #3A3EA3;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.section_about_user{
    margin-top: 10px;
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 48% 48%;
    column-gap: 4%;

    @media(max-width: 630px){
        grid-template-columns: 100%;
        row-gap: 40px;
    }
}
.about_user_title{
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
    @media(max-width: 630px){
        text-align: center;
    }
}
.about_user_text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    height: fit-content;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    overflow-y: scroll;
    max-height: 500px;
    margin-top: 10px;
}
.section_services{
    height: fit-content;
    width: 100%;
    margin-top: 40px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ant-spin-lg{
    z-index: 999 !important;
}
.services_title{
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}
.services_block{
    height: fit-content;
    min-height: 200px;
    width: 96%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;

    @media(max-width: 630px){
        grid-template-columns: 100%;
        width: 100%;
    }
}
.service{
    position: relative;
    margin-top: 28px;
    margin-bottom: 1px;
    width: 100%;
    background: #FFFFFF;
    min-height: 110px;
    height: fit-content;
    border-radius: 35px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 25px;
    cursor: pointer;
}
.service_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    border-radius: 35px;
    background: white;
}
.service_img{
    position: absolute;
    top: -14px;
    left: 1px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    z-index: 0;
    border: 5px solid rgb(255, 255, 255);
}
.service_img_wrapper{
    position: absolute;
    top: -14px;
    left: 1px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    z-index: 10;
}
.service_img_block_info{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 83%;
    height: 100%;
    min-height: 110px;
    float: right;
    overflow: hidden;
    @media(max-width: 1220px){
        width: 70%;
    }
    @media(max-width: 630px){
        width: 80%;
    }
    @media(max-width: 500px){
        width: 72%;
    }
    @media(max-width: 350px){
        width: 68%;
    }
}
.about_user_left{
    display: flex;
    flex-direction: column;
}
.reviews_title{
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
    display: flex;
    @media(max-width: 630px){
        justify-content: center;
        margin-bottom: 10px;
    }
}
.rewiews_title_img{
    margin-left: 10px;
    height: 34px;
    width: 25px;
    background-image: url('../media/bi_plus-square.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.landing_is_not_active{
    position: fixed;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50px;
}
.section_not_active{
    width: 80%;
    height: 100%;
    min-height: fit-content;
    min-width: 650px;
    margin-top: -30px;
    margin-bottom: 50px;
    background: white;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    @media(max-width: 730px){
        width: 96%;
        min-width: auto;
    }
}
.user_not_active{
    position: absolute;
    width: fit-content;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    @media(max-width: 530px){
        width: 100%;
        text-align: center;
        font-size: small;
    }
}
.user_not_active_id{
    display: flex;
    position: absolute;
    width: fit-content;
    height: fit-content;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    @media(max-width: 530px){
        text-align: center;
        font-size: small;
    }
    span{
        margin-left: 5px;
        margin-top: -3px;
        color: rgb(0, 176, 0);
        font-size: medium;
    }
}
.landing_not_active{
    width: 100%;
    min-height: 100vh;
    background: rgba($color: #6F73D4, $alpha: 1);
    background-image: url('../media/Group\ 22.svg');
    background-size: 330px;
    background-position: center;
    position: relative;
}
.section_not_active_wrapper{
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}
.reviews_main{
    height: fit-content;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 280px;
    padding: 10px;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
}
.reviews_main_wrapper{
    width: 97%;
    @media(max-width: 630px){
        width: 100%;
        min-width: 250px;
    }
}
.rewiews_user{
    margin-bottom: 15px;
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 2.97049px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 20px;
    min-height: 110px;
    position: relative;
}
.rewiews_user_img{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    left: 15px;
}
.grade{
    position: absolute;
    top: -5px;
    left: 50px;
    .ant-rate-star:not(:last-child){
        margin-right: -5px;
    }
    .anticon svg {
        display: inline-block;
        height: 12px;
    }
    @media(max-width: 630px){
        top: 1px;
        .ant-rate-star:not(:last-child){
            margin-right: 1px;
        } 
    }
}
.rewiews_grade_raiting{
    position: absolute;
    top: 5px;
    left: 130px;
    font-size: x-small;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    @media(max-width: 630px){
        left: 115px;
    }
}
.rewiews_user_client{
    position: absolute;
    top: 20px;
    left: 52px;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    @media(max-width: 630px){
        top: 15px;
    }
}
.rewiews_user_date{
    color: #878787;
    position: absolute;
    bottom: 0px;
    right: 25px;
    font-size: x-small;
}
.rewiews_user_comment{
    position: absolute;
    top: 43px;
    left: 52px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: x-small;
    line-height: 11px;
    width: 70%;
    color: #000000;
    height: 43px;
    overflow: hidden;
}
.service_info_title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: large;
    line-height: 34px;
    color: #000000;
    word-break: break-all;
    width: 90%;
    height: 32px;
    overflow: hidden;
    white-space: pre-line;

    @media(max-width: 630px){
        font-size: medium;
    }
}
.service_info_text{
    word-break: break-all;
    width: 100%;
    height: fit-content;
    white-space: pre-line;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: x-small;
    line-height: 11px;
    padding-right: 10px;
    height: 34px;
    overflow: hidden;
}
.service_info_group{
    margin-top: 5px;
    height: 20px;
    width: fit-content;
    display: flex;   
    font-size: x-small;

    @media(max-width: 850px){
        flex-direction: column;
    }
}
.service_info_duration{
    margin-left: 20px;
    @media(max-width: 850px){
        margin-left: 0px;
    }
}
.service_info_btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-decoration-line: underline;
    font-size: x-small;
    color: #257BCB;
    float: right;
    padding-right: 40px;
    margin-top: -2px;
    cursor: pointer;
    @media(max-width: 330px){
        margin-top: -2px;
        padding-right: 25px;
    }
}
.section_botton{
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 44px;
    color: #C7C7C7;
}
.input_phone{
    border: 0px;
    padding: 4px;
    padding-left: 10px;
    box-shadow: 0px 0px 1.3px rgb(95, 95, 95);
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    outline: 0px;
    box-shadow: 0px 0px 0px gray;
    &::placeholder{
        color: rgb(178, 178, 178);
    }
    &:focus{
        box-sizing: border-box;
        outline: 1px solid #40a9ff;
        border-color: #40a9ff;
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }
    &:hover{
        box-sizing: border-box;
        outline: 1px solid #40a9ff;
        border-color: #40a9ff;
    }
}

.section_main_mobile{
    width: 80%;
    height: 100%;
    min-height: 100vh;
    min-width: 650px;
    margin-top: -30px;
    margin-bottom: 50px;
    background: white;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    @media(max-width: 730px){
        width: 96%;
        min-width: auto;
    }
    @media(min-width: 629px){
        display: none;
    }
}
.decline_calendar{
    border: 0px ;

    &:hover{
        box-shadow: none;
        border: none;
        outline: none;
        background: white;
    }
}
.user_not_active_copy{
    height: 15px;
    width: 15px;
    background-size: contain;
    background-image: url('../media/copy_text.svg');
    margin-left: 5px;
}
.alert_success_copy{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999;
    border-radius: 25px;
}